<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-4">
        <div class="copyright text-center  text-lg-left  text-muted">
          &copy; Meme Marketing 2020!
        </div>
      </div>
      <div class="col-lg-4">
        <div class="copyright text-center text-muted">
          Powered by
          <a href="http://fluffcoding.com">
            Fluff Coding
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="/how" class="nav-link" target="_blank">How it works</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </footer>