{% extends 'staticpages.html' %}

{% block pagecontent %}
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-7">
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-header bg-transparent ">
          <h1 class="text-center">How it works?</h1>
        </div>
        <div class="card-body">
            <p>
                We're adept at finding newer, better ways to engage people. With meme marketing, we aim to entertain people while making them potential customers.
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}